body, html, .map {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
